/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    width: 90%;
    margin: 0 5%;
  }
}
.main-navigation {
  width: 100%;
  height: 90px;
  background: #FFFFFF;
  border-bottom: 2px dashed #C0C0C0;
  position: fixed;
}
.main-navigation .nav-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .main-navigation .nav-container {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
  }
}
.main-navigation .nav-container .logo-heading {
  position: relative;
}
@media (max-width: 500px) {
  .main-navigation .nav-container .logo-heading {
    font-size: 3rem;
  }
}
.main-navigation .nav-container .nav {
  width: 350px;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .main-navigation .nav-container .nav {
    width: 100%;
    justify-content: space-around;
  }
}
.main-navigation .nav-container .nav a {
  font-size: 1.6rem;
  color: #212529;
  text-decoration: none;
}
.logoAnimate {
  animation-name: bounceInLeft;
  animation-duration: 1.5s;
}
@keyframes slideIn {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}
@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }
  75% {
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    transform: translate3d(5px, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.footer {
  width: 100%;
  border-top: 2px dashed #C0C0C0;
  background: #FFEBCD;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
.home .intro {
  padding: 90px 0 10px;
  border-bottom: 2px dashed #C0C0C0;
}
.home .intro img {
  max-width: 100%;
  height: auto;
}
.home .intro h2 {
  margin-top: 20px;
}
.home .content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
@media (max-width: 500px) {
  .home .content-section .text-content {
    width: 100%;
    padding: 0;
  }
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
@media (max-width: 500px) {
  .home .content-section .img-content {
    width: 100%;
    padding: 0;
  }
}
.home .content-section .img-content img {
  border-radius: 10px;
}
@media (max-width: 500px) {
  .home .content-section .img-content img {
    width: 100%;
  }
}
.home .inverse-content {
  padding-bottom: 30px;
  border-bottom: 2px dashed #C0C0C0;
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
@media (max-width: 500px) {
  .home .inverse-content .text-content {
    order: 1;
  }
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
@media (max-width: 500px) {
  .home .inverse-content .img-content {
    order: 2;
  }
}
.home .content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
@media (max-width: 500px) {
  .home .content-destination {
    width: 100%;
  }
}
.home .content-destination img {
  border-radius: 10px;
}
.home .content-pick {
  padding-top: 30px;
  border-top: 2px dashed #C0C0C0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .home .content-pick {
    flex-wrap: wrap;
  }
}
.home .content-pick .destination {
  width: 30%;
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  .home .content-pick .destination {
    width: 80%;
    margin: 0 auto 30px;
  }
}
.home .content-pick .destination .btn {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 45px;
  background-color: #17A2B8;
  color: #FFFFFF;
  border: 1px solid #C0C0C0;
  cursor: pointer;
  font-size: 1.8rem;
}
@media (max-width: 500px) {
  .home .content-pick .destination .btn {
    width: 100%;
  }
}
.home .content-pick .destination .btn:hover {
  background: #FFFFFF;
  color: #17A2B8;
}
.modal {
  visibility: hidden;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal.visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal .modal-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.modal .modal-img-wrapper i {
  position: absolute;
  top: -22px;
  right: -21px;
  font-size: 2.5rem;
  color: #FFFFFF;
  cursor: pointer;
}
.modal .modal-img-wrapper .modal-img {
  height: auto;
  border-radius: 10px;
}
.easter-egg-container {
  visibility: hidden;
  z-index: 2;
  width: 75px;
  height: auto;
  position: fixed;
  bottom: 0;
  left: 0;
}
.easter-egg-container.visible {
  visibility: visible;
  animation-duration: 5s, 0.5s, 5s, 0.5s, 5s, 0.5s, 5s;
  animation-delay: 0s, 5s, 5.5s, 10.5s, 11s, 16s, 16.5s;
  animation-name: easterEggBottom, easterEggBottomRightRotate, easterEggRight, easterEggTopRightRotate, easterEggTop,easterEggTopLeftRotate, easterEggLeft;
}
.easter-egg-container.visible .easter-egg {
  width: 100%;
}
@keyframes easterEggBottom {
  0% {
    bottom: 0;
    left: 0;
  }
  100% {
    bottom: 0;
    left: calc(100% - 75px);
  }
}
@keyframes easterEggBottomRightRotate {
  0% {
    transform-origin: bottom left;
    transform: rotate(0deg);
    bottom: 0;
    left: calc(100% - 75px);
  }
  100% {
    transform-origin: bottom left;
    transform: rotate(-90deg);
    bottom: 0;
    left: 100%;
  }
}
@keyframes easterEggRight {
  0% {
    bottom: 0;
    left: 100%;
    transform-origin: bottom left;
    transform: rotate(-90deg);
  }
  100% {
    bottom: calc(100% - 75px);
    left: 100%;
    transform-origin: bottom left;
    transform: rotate(-90deg);
  }
}
@keyframes easterEggTopRightRotate {
  0% {
    transform-origin: bottom left;
    transform: rotate(-90deg);
    bottom: calc(100% - 75px);
    left: 100%;
  }
  100% {
    transform-origin: bottom left;
    transform: rotate(-180deg);
    bottom: 100%;
    left: 100%;
  }
}
@keyframes easterEggTop {
  0% {
    bottom: 100%;
    left: 100%;
    transform-origin: bottom left;
    transform: rotate(-180deg);
  }
  100% {
    bottom: 100%;
    left: 75px;
    transform-origin: bottom left;
    transform: rotate(-180deg);
  }
}
@keyframes easterEggTopLeftRotate {
  0% {
    bottom: 100%;
    left: 75px;
    transform-origin: bottom left;
    transform: rotate(-180deg);
  }
  100% {
    bottom: 100%;
    left: 0;
    transform-origin: bottom left;
    transform: rotate(-270deg);
  }
}
@keyframes easterEggLeft {
  0% {
    bottom: 100%;
    left: 0;
    transform-origin: bottom left;
    transform: rotate(-270deg);
  }
  100% {
    bottom: 0;
    left: 0;
    transform-origin: bottom left;
    transform: rotate(-270deg);
  }
}
